.main_link h1 {
    text-align: center;
    margin: 50px 0 50px 0;
}

.main_link h1::before {
    content: "";
    display: inline-block;
    width: 80px;
    height: 1px;
    background: #f00;
    vertical-align: middle;
    /* 중간으로 옮기기 */
    margin: 0 10px;
}

.main_link h1::after {
    content: "";
    display: inline-block;
    width: 80px;
    height: 1px;
    background: #f00;
    vertical-align: middle;
    /* 중간으로 옮기기 */
    margin: 0 10px;
}

.main_link li::before {
    /* 리스트 내 아이콘 넣기 */
    content: "\ea10";
    font-family: xeicon !important;
}


.main_link h2 {
    margin: 80px 0 30px 0;
    text-align: center;
}

main ul>li {
    text-align: center;
}

.main_link h2::before {
    content: "";
    display: inline-block;
    width: 80px;
    height: 1px;
    background: #008000;
    vertical-align: middle;
    /* 중간으로 옮기기 */
    margin: 0 10px;
}

.main_link h2::after {
    content: "";
    display: inline-block;
    width: 80px;
    height: 1px;
    background: hsl(120, 100%, 25%);
    vertical-align: middle;
    /* 중간으로 옮기기 */
    margin: 0 10px;
}